<div>
    <md-content layout-padding>
        <div>
            <h2>Add Genre</h2>
            <form layout-gt-sm="row" layout-align="start">
                <md-input-container class="md-block">
                    <label>Genre Name</label>
                    <input ng-model="vm.newGenre.name" type="text">
                </md-input-container>

                <md-input-container class="md-block">
                    <md-button class="md-raised md-primary md-hue-2" ng-click="vm.addGenre()">SUBMIT</md-button>
                </md-input-container>
            </form>
        </div>
    </md-content>

    <div class="left-padding">
        <h2>Genres</h2>
    </div>

    <md-content class="md-padding center-this" layout="row" layout-wrap>
        <md-card class="genre-card" ng-repeat="genre in vm.genres.list">
            <md-card-title align="center">
                <md-card-title-text>
                    <span class="md-headline">{{genre.genre}}</span>
                    <span class="md-subhead">Total movies: {{genre.count}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-footer layout="row" layout-align="center">
                <md-button class="md-raised md-warn md-hue-2" ng-click="vm.deleteGenre(genre)">DELETE</md-button>
            </md-card-footer>
        </md-card>
    </md-content>

</div>