<div>
    <md-content class="md-padding" layout="row" layout-wrap>
        <md-card ng-repeat="movie in vm.movies.list" flex="15">
            <img ng-src="{{movie.image_url}}" class="md-card-image">
            <md-card-content align="center">
                <p class="md-headline">{{movie.title}}</p>
                <p>Genre: {{movie.genre}}</p>
                <p>Released: {{movie.release_date | date: "MM-dd-yyyy"}}</p>
                <p>Run Time: {{movie.run_time}} min</p>
            </md-card-content>
        </md-card>
    </md-content>
</div>