<div>
    <h3>Add Movie</h3>
    <form ng-submit="vm.addMovie()">
        <input ng-model="vm.newMovie.title" type="text" placeholder="Movie Title"/>
        <select ng-model="vm.newMovie.genre_id" >
            <option value="">Choose a Genre</option>
            <option value="1">Test 1</option>
            <option value="2">Test 2</option>
            <option value="3">Test 3</option>
            <!-- <option ng-repeat="genre in vm.genreList" value="{{genre.id}}">{{genre.name}}</option> -->
        </select>
        <input ng-model="vm.newMovie.release_date" type="date"/>
        <input ng-model="vm.newMovie.run_time" type="number" placeholder="Run time in minutes">
        <input type="submit" value="Submit">
    </form>
    <table>
        <thead>
            <th>Title</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Run Time</th>
            <th>Image URL</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr ng-repeat="movie in vm.movies.list">
                <td>{{movie.title}}</td>
                <td>{{movie.genre_id}}</td>
                <td>{{movie.release_date | date: "MM-dd-yyyy"}}</td>
                <td>{{movie.run_time}} min.</td>
                <td><img ng-src="{{movie.image_url}}"></td>
                <td><button ng-click="vm.deleteMovie(movie)">DELETE</button></td>
            </tr>
        </tbody>
    </table>
</div>